.cart-cart {
  width: 80%;
  height: 65vh;
  margin: 0px auto;
  text-align: center;
  background: white;
}

.cart-cart content {
  display: flex;
  flex-direction: column;
}

.cart-cart h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-cart p {
  margin: 10px auto;
}

.cart-cart ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 20px auto;
}

.cart-cart button {
  background: red;
  color: white;
  border: none;
}
