.empty-cart {
  width: 80%;
  height: 65vh;
  margin: 0px auto;
  text-align: center;
}

.empty-cart content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty-cart h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.empty-cart p {
  margin: 10px auto;
}
