button {
  font-family: 'Raleway', sans-serif;
}

.above-category {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 20px auto;
}

.category-name {
  font-size: 28px;
}

.category-list-filters {
  display: flex;
}

.filter-button {
  border: none;
  background: white;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.filter-button:hover {
  box-shadow: 0px 25px 20px -15px rgba(0,0,0,0.2);
  transform: translate(0px, -2px) scale(1.1);
}

.main-category-container {
  display: flex;
}

.filter-products {
  min-width: 260px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}

.category-product {
  width: 22vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background: white;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.category-product-image-container {
  width: 300px;
  height: 400px;
  padding: 10px 5px;
}

.category-product-image {
  width: 100%;
  height: 100%;
}

.category-product a {
  text-decoration: none;
}

.category-product h2 {
  font-weight: bold;
  color: black;
}

.category-product h3 {
  color: #e03470;
}

dir-pagination-controls {
  display: flex;
  justify-content: center;
  background: white;
  width: 90%;
  margin: 0px auto;
}

dir-pagination-controls ul {
  display: flex;
}

dir-pagination-controls li {
  margin: 0px 5px;
}

dir-pagination-controls a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

dir-pagination-controls a:hover {
  color: #e03470;
}
