.breadcrumbs {
    padding: 3px 10px;
    margin-bottom: 10px;
}
.breadcrumbs a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.product-page {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0px auto;
    background: white;
    padding: 20px 7.5%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
}

.main-product-info {
    width: 30vw;
}
.main-product-info h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.main-product-info h3 {
  font-size: 20px;
  color: #e03470;
  margin-bottom: 5%;
  font-weight: bold;
}

.main-product-info p {
  margin-top: 5%;
}
/*.sidebar {
    width: 200px;
    margin: 0px 10px;
    border: 1px solid black;
}*/

.buttons {
  margin-top: 10px;
}

.product-button {
    width: 100%;
    padding: 3px 0;
    border: none;
    background: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, .4)
}

.product-button img {
  height: 16px;
  fill: white;
  margin-right: 5px;
}

.add-to-cart {
  background: black;
  color: white;
  padding: 20px;
}

/*---tabs---*/

.tabs {
    width: 90%;
    margin: 20px auto 0px auto;
    padding: 10px 10px;
    background: white;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
}
.tabs ul {
    display: flex;
}
.tabs ul li {
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.tabs ul li a {
  text-decoration: none;
  color: black;
}

.tabs ul li a:hover {
  color: #e03470;
}

.tabs-below {
  width: 90%;
  margin: 0px auto 20px auto;
  padding: 0px 10px 10px 10px;
  background: white;
}

.tabs-below h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.tag-input {
  margin-top: 5px;
}

.tags input {
    padding: 3px 0px;
    margin-right: 5px;
}
.tags button {
    background: black;
    color: white;
    padding: 5px 20px;
    border: none;
}


/*---Reviews---*/


/*---slider--- */

.slider-for {
    width: 35vw;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
    position: relative;
    text-align: center;
    font-size: 26px;
}
.slider-for img {
    width: 100%;
    height: 35vw;
    padding: 10px;
}
.slider-nav {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.slider-nav img {
  width: 100%;
  padding: 5px;
}
