<h3>I'm sorry, Dave. I'm afraid I can't do that.</h3>
<div class="table">
  <table >
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Featured</th>
    </tr>
    <tr ng-repeat="product in products">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.category}}</td>
      <td>{{product.featured}}</td>
      <td><button type="button" name="delete" ng-click="deleteProduct(product._id)">X</button></td>


    </tr>
  </table>
</div>
