<section class="slideshow">
    <div class="slide slide1">
        <div class="slide-content">
            <h2>Shopper</h2>
        </div>
    </div>

    <div class="slide slide2">
      <div class="slide-content">
          <h2>Mean Stack Ecommerce</h2>
      </div>
    </div>
</section>

<main>
    <section class="featured-products">
        <h2>Featured Products</h2>
        <content ng-if="products.length" class="products-container" slick-slider="{
            slidesToShow: 3,
            slidesToScroll: 3,
            dots: false,
            arrows: true,
            prevArrow: '.btn-prev',
            nextArrow: '.btn-next',
            autoplay: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    dots: false,
                    arrows: false,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 768,
                settings: {
                    dots: false,
                    arrows: false,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        }">

            <div class="products" ng-repeat="product in products">

                <div class="product-thumb">

                    <div class="product-thumb-img" style="background: url('{{product.image}}') center no-repeat; background-size: contain;"></div>

                    <div class="product-overlay">
                        <button class="quick-view" ng-click="clickToOpen(product)">Quick View</button>
                    </div>

                </div>
                <a ui-sref="product({productID: product._id})">
                    <div class="product-title">{{product.name}}</div>
                    <div class="product-price">{{product.price | currency}}</div>
                </a>

            </div>
        </content>
    </section>
    <section class="featured-products">
        <h2>Featured Products</h2>
        <content class="products-container-2" slick-slider="{
            slidesToShow: 3,
            slidesToScroll: 3,
            dots: false,
            arrows: true,
            prevArrow: '.btn-prev',
            nextArrow: '.btn-next',
            autoplay: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    dots: false,
                    arrows: false,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 768,
                settings: {
                    dots: false,
                    arrows: false,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        }">

            <div class="products" ng-repeat="product in products">

                <div class="product-thumb">

                    <div class="product-thumb-img" style="background: url('{{product.image}}') center no-repeat; background-size: contain;"></div>

                    <div class="product-overlay">
                        <button class="quick-view" ng-click="clickToOpen(product)">Quick View</button>
                    </div>

                </div>
                <a ui-sref="product({productID: product._id})">
                    <div class="product-title">{{product.name}}</div>
                    <div class="product-price">{{product.price | currency}}</div>
                </a>

            </div>
        </content>
    </section>
    <section class="featured-products">
        <h2>Featured Products</h2>
        <content class="products-container-3" slick-slider="{
            slidesToShow: 3,
            slidesToScroll: 3,
            dots: false,
            arrows: true,
            prevArrow: '.btn-prev',
            nextArrow: '.btn-next',
            autoplay: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    dots: false,
                    arrows: false,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 768,
                settings: {
                    dots: false,
                    arrows: false,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        }">

            <div class="products" ng-repeat="product in products">

                <div class="product-thumb">

                    <div class="product-thumb-img" style="background: url('{{product.image}}') center no-repeat; background-size: contain;"></div>

                    <div class="product-overlay">
                        <button class="quick-view" ng-click="clickToOpen(product)">Quick View</button>
                    </div>

                </div>
                <a ui-sref="product({productID: product._id})">
                    <div class="product-title">{{product.name}}</div>
                    <div class="product-price">{{product.price | currency}}</div>
                </a>

            </div>
        </content>
    </section>
    <content class="brands">
        <div class="brand" ng-repeat="brand in brands">
            <a ui-sref="brand({brand: brand.name})"><img ng-src="{{brand.image}}" alt="{{brand.name}}"/></a>
        </div>
    </content>

</main>
<script src="https://code.jquery.com/jquery-3.1.0.js" charset="utf-8"></script>
<script src="./slick/slick.js" charset="utf-8"></script>
<script src="./scripts/jquery.js" charset="utf-8"></script>
