body {
  background: #e6e6e6; }

.slideshow,
.slideshow:after {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0; }

.slideshow:after {
  height: 100%;
  content: '';
  background: url("../images/pattern.png") repeat top left; }

.slide {
  width: 100%;
  height: 100%; }

.slide-content {
  font-size: 12vh;
  position: relative;
  line-height: 200px;
  z-index: 3000000;
  top: 60%; }

.slide1 {
  background: url("../images/pupper.jpg") center no-repeat;
  background-size: cover; }

.slide2 {
  background: url("../images/pupper2.jpg") center no-repeat;
  background-size: cover; }

.slick-slide {
  color: white;
  text-align: center; }

.slick-next:before,
.slick-prev:before {
  color: black; }

.slick-dots {
  z-index: 3000;
  top: 95%; }

/*---Nav---*/
.top-nav {
  position: relative;
  top: 0;
  width: 100%;
  background: black;
  z-index: 100000000000000000000;
  align-items: center;
  padding: 0 2.5%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.top-nav ul {
  display: flex;
  position: relative;
  align-items: center; }

.top-nav li {
  padding: 16px 0; }

.top-nav a {
  text-decoration: none;
  color: white;
  margin-right: 16px; }

.top-nav ul ul {
  position: absolute;
  top: 48px;
  left: 0;
  background: white; }

.category-dropdown {
  min-width: 93vw; }

.top-nav ul ul li {
  flex: 1;
  margin: 0px 10px; }

.searchbox {
  width: 30vw;
  display: flex;
  align-items: center; }

.searchbox input {
  background: black;
  color: white;
  border: none;
  padding: 8px 30px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.searchbox img {
  height: 20px; }

.cart {
  position: relative; }

.cart img {
  height: 20px; }

.cart-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  top: 56px;
  right: 0;
  background: white;
  white-space: nowrap;
  padding: 0px 10px; }

.cart-content li {
  display: flex;
  justify-content: space-between; }

.cart-content li button {
  margin-left: 5px;
  background: red;
  color: white;
  border: none; }

/*---Homepage Products---*/
.featured-products,
.related-products {
  width: 90%;
  background: white;
  text-align: center;
  margin: 20px auto;
  padding: 10px 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15); }

.featured-products h2,
.related-products h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 40px;
  margin: 10px auto; }

.products-container,
.products-container-2,
.products-container-3,
.related-products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px; }

.products-container > .slick-dots {
  top: 98%; }

.products-container-2 > .slick-dots {
  top: 98%; }

.products-container-3 > .slick-dots {
  top: 98%; }

.related-products-container > .slick-dots {
  top: 98%; }

.products {
  width: 30vw;
  text-align: center;
  position: relative;
  margin: 20px 5px; }

.products a {
  text-decoration: none;
  color: black; }

.product-thumb {
  position: relative;
  width: 100%;
  height: 30vw;
  padding: 10px; }

.product-thumb-img {
  width: 100%;
  height: 100%;
  padding: 10px; }

.product-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.quick-view {
  color: white;
  border: 1px solid white;
  padding: 2px 15px;
  cursor: pointer;
  font-size: 20px;
  z-index: 5;
  background: none; }

.product-title {
  font-weight: bold;
  height: 2rem; }

.product-price {
  color: #e03470;
  font-size: 20px;
  margin: 6px 0; }

.brands {
  width: 90%;
  margin: 20px auto 0px auto;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px; }

.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white; }

.brand a img {
  display: flex;
  width: 15vw;
  height: 100%;
  margin: 0 10px; }

a.back-to-top {
  display: none;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.7) url("../images/icons/up-arrow.svg") no-repeat center;
  background-size: 60%;
  border-radius: 5px; }

.newsletter {
  background: white;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 20px 0px; }

.newsletter-content {
  display: flex;
  align-items: center;
  flex-direction: column; }

.newsletter-content h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.submit-email {
  margin-top: 10px; }

.footer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  padding: 30px 0px;
  background: white;
  margin: 20px auto 0px auto; }

.footer ul li {
  margin: 3px 0;
  font-size: 12px; }

.footer ul li:first-child {
  font-weight: bold;
  font-size: 1rem; }

.footer ul img {
  height: 1rem; }

.footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 16px 50px;
  font-size: 10px;
  flex-shrink: 0; }

.back-to-top-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; }

.arrow-up {
  margin-bottom: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white; }

.payment-methods img {
  width: 40px; }

.curtain {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  min-height: 100%;
  width: 100%;
  z-index: 10000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.modal {
  background: white;
  width: 75%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.close-modal {
  background: white;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%; }

.close-modal:hover {
  border: 1px solid black; }

.quick-view-images {
  max-width: 50%;
  height: 100%; }

.quick-view-product-info {
  max-width: 45%;
  position: absolute;
  top: 40px;
  right: 0;
  margin: 15px; }

.quick-view-product-info h2 {
  font-size: 1.5rem;
  font-weight: bold; }

.quick-view-product-info h4 {
  color: #e03470;
  font-weight: bold; }

@media (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center; } }
