<div class="above-category">
    <div class="category-name">{{category}}</div>
    <div class="category-buttons">
        <button type="button" name="button" class="category-button filter-button" ng-click="filterToggle = !filterToggle">Filter</button>
        <button type="button" name="button" class="category-button grid-button">Grid</button>
        <button type="button" name="button" class="category-button list-button">List</button>
    </div>
    <div class="category-listing-total">{{length}} Products Total</div>
</div>
<main class="main-category-container">
    <aside class="filter-products" ng-show="filterToggle">
        <div class="sort-by">
            <ul>
                <li>
                    <h3>Sort By</h3>
                    <select ng-model="sortBy">
                        <option value="name" selected="selected">Name</option>
                        <option value="price">Price</option>
                    </select>
                </li>
                <li class="maxPrice">
                    <h3>Max Price</h3>
                    {{minPrice | currency}}<input type="range" name="price" min="{{minPrice}}" max="{{maxPrice}}" value="{{maxPrice}}" ng-model="priceFilter">{{maxPrice | currency}}
                </li>
              </ul>


        </div>
    </aside>
    <div class="category-product-container">
        <div class="category-product" dir-paginate="product in categoryProducts | filter: priceFilter | orderBy: sortBy | itemsPerPage: 4" >
            <div class="category-product-image-container">
                <div class="category-product-image" style="background: url('{{product.image}}') center no-repeat; background-size: cover;">
                </div>
            </div>
            <div class="category-product-info">
                <a ui-sref="product({productID: product._id})">
                    <h2>{{product.name}}</h2>
                    <h3>{{product.price | currency}}</h3>
                </a>
                <div class="category-product-description">
                    {{product.description}}
                </div>
            </div>
            <div class="category-product-buttons">
                <button type="button" name="button" class=" product-button add-to-cart" ng-click="productAddedToggle = !productAddedToggle" ng-click="addToCart()"><img src="images\icons\shopping-cart.svg" alt="Add to Cart"/>Add To Cart</button>
                <button type="button" name="button" class=" product-button" ng-click="addToWishlist()"><img src="images\icons\heart.svg" alt="Add to Wish List"/>Add To Wish List</button>
                <button type="button" name="button" class=" product-button" ng-click = "addToCompare()"><img src="images\icons\copy.svg" alt="Compare"/>Add To Compare</button>
            </div>

        </div>
    </div>
</main>
<dir-pagination-controls></dir-pagination-controls>
<script src="./scripts/category.js" charset="utf-8"></script>
<script src="./scripts/jquery.js" charset="utf-8"></script>
<script src="./node_modules/angular-utils-pagination/dirPagination.js" charset="utf-8"></script>
