<div class="above-category">
    <div class="category-name">Category</div>
    <div class="category-buttons">
        <button type="button" name="button" class="filter-button" ng-click="filterToggle = !filterToggle">Filter</button>
        <button type="button" name="button" class="list-button">Filter</button>
        <button type="button" name="button" class="list-button">Filter</button>
    </div>
    <div class="category-listing-total">Items # to # of # total</div>
</div>
<main class="main-category-container">
    <aside class="filter-products" ng-show="filterToggle">
        <div class="sort-by">
            <ul>
                <li>
                    <h3>Sort By</h3>
                    <select ng-model="sortBy">
                        <option value="pricedown" selected="selected" value="product.price">Price desc.</option>
                        <option value="priceup">Price asc.</option>
                        <option value="namedown">Name desc.</option>
                        <option value="nameup">Name asc.</option>
                    </select>
                </li>
                <li>
                    <h3>Price</h3> {{minPrice | currency}}
                    <input type="range" name="price" min="{{minPrice}}" max="{{maxPrice}}" ng-model="priceFilter">{{maxPrice | currency}}
                </li>
              </ul>


        </div>
    </aside>
    <div class="category-product-container">
        <div class="category-product" dir-paginate="product in categoryProducts | orderBy:'price':true | itemsPerPage: 4" >
            <div class="category-product-image-container">
                <div class="category-product-image" style="background: url('{{product.image}}') center no-repeat; background-size: contain;">

                </div>
            </div>
            <div class="category-product-info">
                <a ui-sref="product({productID: product.name})">
                    <h2>{{product.name}}</h2>
                    <h3>{{product.price | currency}}</h3>
                </a>
            </div>

        </div>
    </div>
</main>
<dir-pagination-controls></dir-pagination-controls>
<script src="./scripts/category.js" charset="utf-8"></script>
<script src="./node_modules/angular-utils-pagination/dirPagination.js" charset="utf-8"></script>
