<section class="slideshow">
    <div class="slide slide1">
        <div class="slide-content">
            <h2>Shopper</h2>
        </div>
    </div>

    <div class="slide slide2"></div>
</section>


<main>
  <section class="featured-products">
      <h2>Featured Products</h2>
    <content class="products-container">

            <div class="products" ng-repeat="product in products">

                <div class="product-thumb">

                  <div class="product-thumb-img" style="background: url('{{product.image}}') center no-repeat; background-size: contain;"></div>



                    <div class="product-overlay">
                        <button class="quick-view" ui-sref="home.quickView">Quick View</button>
                    </div>

                </div>
                <a ui-sref="product({productID: product.name})">
                <div class="product-title">{{product.name}}</div>
                <div class="product-price">{{product.price}}</div>
        </a>

        </div>
    </content>
  </section>
  <div ui-view></div>
    <content class="brands" ng-repeat="brand in brands">
        <div class="brand">
            <a ui-sref="brand({brand: brand.name})"><img ng-src="{{brand.image}}" alt="{{brand.name}}" /></a>
        </div>
    </content>
</main>
<script src="./scripts/jquery-3.0.0.js" charset="utf-8"></script>
<script src="./slick/slick.js" charset="utf-8"></script>
<script src="./scripts/jquery.js" charset="utf-8"></script>
