<header class="breadcrumbs">
    <a href="/#/">Home</a> >
    <a href="link"></a>
</header>
<main class="product-page">
    <div class="image-wrapper">
        <div class="slider slider-for">
            <div><img src="images\beach.jpg" alt="" /></div>
            <div><img src="images\pupper.jpg" alt="" /></div>
        </div>
        <div class="slider slider-nav">
            <div><img src="images\beach.jpg" alt="" /></div>
            <div><img src="images\pupper.jpg" alt="" /></div>

        </div>
    </div>

    <div class="main-product-info">
        <h2>Sample Product Name</h2>
        <h3>$20.99</h3>
        <div class="status">
          In Stock
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="buttons">
            <button type="button" name="button" class=" product-button add-to-cart"><img src="images\icons\shopping-cart.svg" alt="Add to Cart" />Add To Cart</button>
            <button type="button" name="button" class=" product-button "><img src="images\icons\heart.svg" alt="Add to Wish List" />Add To Wish List</button>
            <button type="button" name="button" class=" product-button "><img src="images\icons\copy.svg" alt="Compare" />Add To Compare</button>
        </div>
    </div>
    <!-- <aside class="sidebar">
        <img src="images\beach.jpg" alt="Product" />
    </aside> -->
</main>
<div class="tabs">
    <ul>
        <li><a href="#description">Description</a></li>
        <li><a href="#additional-info">Additional Info</a></li>
        <li><a href="#shipping-info">Shipping Info</a></li>
        <li><a href="#ratings">Ratings</a></li>
        <li><a href="#tags">Tags</a></li>
    </ul>
</div>
<div class="tabs-below">


    <article id="description">
        Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
    <article id="additional-info">
        Additional Info ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
    <article id="shipping-info">
        Shipping Info ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
    <article id="ratings">
        Ratings ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
    <article class="tags" id="tags">
        <div class="tags-list" ng-repeat="tag in tags track by $index">
            {{tag.name}} x {{tag.count}}
        </div>
        <div class="tag-input">
          <input type="text-field" name="name" placeholder="Enter Tag" ng-model="tagInput">
          <button type="button" name="button" ng-click="addTag(tagInput)">Add Tag</button>
        </div>
    </article>

</div>
<script src="scripts\product-jQuery.js" charset="utf-8"></script>
<script src="./slick/slick.js" charset="utf-8"></script>
