<header class="breadcrumbs">
    <a href="/#/">Home</a> >
    <a href="link"></a>
</header>
<main class="product-page">
    <div class="main-product-image">
        <img src="images\beach.jpg" alt="Product" />

    </div>
    <div class="slideshow-nav">
    </div>
    <div class="main-product-info">

    </div>
    <aside class="sidebar">
    </aside>
    <div class="tabs"></div>
</main>
<script src="scripts\product-jQuery.js" charset="utf-8"></script>
<script src="./slick/slick.js" charset="utf-8"></script>
