<div class="curtain">
    <div class="product-zoom">
        <button type="button" name="close-modal" class="close-modal" ng-click="closeThisDialog()">X</button>
        <div class="product-zoom-image-container">
          <div ng-repeat="image in product.images" class="product-zoom-image" style="background: url('{{image}}') center center no-repeat; background-size: contain;"></section>
        </div>
        <h2>{{product.name}}</h2>
    </div>
</div>
<script src="./scripts/jquery-3.0.0.js" charset="utf-8"></script>
<script src="./slick/slick.js" charset="utf-8"></script>
<script src="./scripts/product-jQuery.js" charset="utf-8"></script>
