<div class="curtain">
    <div class="modal">
        <button type="button" name="close-modal" class="close-modal">X</button>
        <div class="quick-view-image-container">
            <div class="quick-view-image-wrapper">
                <div class="slider slider-for">
                    <div><img src="images\beach.jpg" alt="" /></div>
                    <div><img src="images\pupper.jpg" alt="" /></div>
                </div>
                <div class="slider slider-nav">
                    <div><img src="images\beach.jpg" alt="" /></div>
                    <div><img src="images\pupper.jpg" alt="" /></div>

                </div>
            </div>
        </div>
    </div>
</div>
